<div class="split left">
    <ng-container>
      <label for="leagueName">
        League Name
      </label>
      <input id="leagueName" type="text" [(ngModel)]="leagueConfigForm.leagueName">
    </ng-container>
  <br>
  <ng-container>
    <label for="rankingsTitle">
      Rankings Title
    </label>
    <input id="rankingsTitle" type="text" [(ngModel)]="leagueConfigForm.rankingsTitle">
  </ng-container>
  <br>
  <ng-container>
    <span>Rankings Introduction</span>
    <textarea name="text" rows="14" cols="10" wrap="soft" id="rankingIntroduction" [(ngModel)]="leagueConfigForm.introduction"> </textarea>
  </ng-container>
  <table>
    <td>Team Name</td>
    <td>Manager Name</td>
    <td>Comments</td>
    <td>Wins</td>
    <td>Losses</td>
    <td>Ties</td>
    <ng-container *ngFor="let rankingObject of currentWeekRankingForm; index as i ">
      <tr>
        <td><input id="teamName" type="text" [(ngModel)]="currentWeekRankingForm[i].teamName"></td>
        <td><input id="managerName" type="text" [(ngModel)]="currentWeekRankingForm[i].managerName"></td>
        <td><input id="description" type="text" [(ngModel)]="currentWeekRankingForm[i].description"></td>
        <td><input id="wins" type="number" min="0" [(ngModel)]="currentWeekRankingForm[i].wins"></td>
        <td><input id="losses" type="number" min="0" [(ngModel)]="currentWeekRankingForm[i].loss"></td>
        <td><input id="ties" type="number" min="0" [(ngModel)]="currentWeekRankingForm[i].ties"></td>
      </tr>
    </ng-container>
  </table>
    <button class="button" type="submit" (click)="addTeam()">Add Team</button>
    <button class="button" type="submit" (click)="regenerateRankings()">Generate Rankings</button>
    <button class="button" type="submit" (click)="saveAsPreviousWeek()">Save Rankings as Previous Week</button>
</div>

<div class="split right">
  <div id='powerRanking'>
    <table id='powerRankingTable'>
      <tr>
        <th colspan='5'><h3 id=rankingTitle>{{leagueConfig.rankingsTitle}}</h3></th>
      </tr>
      <tr id=introduction [hidden]="leagueConfig.introduction.length > 0">
        <th colspan='5' id=introductionRow>
          {{leagueConfig.introduction}}
        </th>
      </tr>
      <tr>
        <td class='center'>
          <b>Rank</b></td>
        <td colspan='2' class='center'><b>Team / Record</b></td>
        <td class='center'><b>Trending</b></td>
        <td class='center'><b>Comments</b></td>
      </tr>
      <ng-container *ngFor="let rankingObject of currentWeekRanking; index as i ">
        <tr class='rank'>
          <td>
            <div class='ranking'> {{i + 1}} </div>
          </td>
          <td class='teamPicture' style='width:25px'></td>
          <td style='width:20%;'>
            <div class='manager-name'>{{rankingObject.teamName}}</div>
            <div class='team-record'>{{rankingObject.managerName}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getRecord(rankingObject)}}</div>
          </td>
          <td class='center'>
            <div class='delta-div'>
              <div [ngClass]='this.getDeltaSymbolClass (getPreviousWeekPosition(rankingObject.managerName) ? i - getPreviousWeekPosition(rankingObject.managerName) : 0)'></div>
              <div class="delta" [ngClass]='this.getDeltaClass(getPreviousWeekPosition(rankingObject.managerName) ? i - getPreviousWeekPosition(rankingObject.managerName) : 0)'> {{getDeltaString(getPreviousWeekPosition(rankingObject.managerName) ? i - getPreviousWeekPosition(rankingObject.managerName) : 0)}}</div></div>
            <div class='last-weeks-position'>{{getLastWeekPositionString(rankingObject.managerName)}} </div></td>
          <td class='center' style='width: 50%'> {{ rankingObject.description}} </td></tr>
      </ng-container>

    </table>
  </div>
  <div style='height: 5vh;'></div>
  <div style='width: 100%;'>
    <button (click)="generateScreenshot()" class="download-button">Download Rankings Image</button>
  </div>
</div>




